{% extends "layout.html" %}

{% block content %}
<b>You saved Max! Completion Code {{ completionCode }}</b>
       
Thanks for the help! In return, we'll return Max and hopefully save a few more Chicagoans from General Winter.

----------------------------------------

Signpost is hiring for all sorts of developers. We use cool technology -
like Rails and MongoDB - to solve interesting problems that affect millions
of people.

We'd love to talk to you! Send your completion code ({{completionCode}}) to <a href="mailto:jobs@signpost.com">jobs@signpost.com</a> and we'll 
make sure you get a free Max t-shirt for saving him!

<a id="level1" href="/levelone">Click here</a> when you are ready.
{% endblock %}
