{% extends "layout.html" %}

{% block content %}
<b>The Signpost Challenge</b>
       
Welcome to the Signpost programming challenge. You should try to complete both 
levels in a single sitting. It should take anywhere from 10 minutes to an hour.

----------------------------------------

Max the Mole has been kidnapped by an unnamed shadowy organization from Chicago.

All they left was a note.

<a id="level1" href="/levelone">Click here</a> when you are ready to try and save him.
{% endblock %}
